process {
    withLabel: 'low' {
        memory='1G'
        cpus='1'
        time='6h'
    }
}

process {
    withLabel: 'high' {
        memory='8G'
        cpus='8'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$VSC_SCRATCH/.apptainer_cache"
}
params {
    // General parameters of the project
    datadir = "${launchDir}/data"
    outdir = "${launchDir}/results"
    n_samples = 10

    // Input parameters
    time_series="${launchDir}/data/*.csv"
}

manifest {
    name = "parameter-fitting-pipeline"
    description = "Pipeline for parameter generation and model fitting"
    author = "Martain Dagnelie"
    version = "0.1.0"
}